body {
  margin: 0%;
  padding: 0%;
  background: #ccc
}

#game {
    width: 1000px;
    height: 800px;
    background: #333;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

#player {
    width: 20px;
    height: 20px;
    background: blue;
    position: absolute;
    top: 500px;
    left: 480px;
}

.obstaculo {
    width: 60px;
    height: 60px;
    background: #555;
    position: absolute;
    border: 2px solid black;
    box-sizing: border-box;
}