.botao{
    width: 100px;
    border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: skyblue;
}

.botao:hover {
    background-color: white; 
}

.titulo{
    width: 200px;
    text-align: center;
    border: solid 1px black;
    box-shadow: 0px 1px 10px black;
}
